@page
@model PirateScaffold.Pages.Pirates.EditModel

@{
    ViewData["Title"] = "Edit Pirate";
}

<h1>Edit Pirate</h1>

<h4>Pirate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pirate.PirateID" />
            <div class="form-group">
                <label asp-for="Pirate.Name" class="control-label"></label>
                <input asp-for="Pirate.Name" class="form-control" />
                <span asp-validation-for="Pirate.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pirate.Epithet" class="control-label"></label>
                <input asp-for="Pirate.Epithet" class="form-control" />
                <span asp-validation-for="Pirate.Epithet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pirate.Age" class="control-label"></label>
                <input asp-for="Pirate.Age" class="form-control" />
                <span asp-validation-for="Pirate.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pirate.Bounty" class="control-label"></label>
                <input asp-for="Pirate.Bounty" class="form-control" />
                <span asp-validation-for="Pirate.Bounty" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pirate.DevilFruit" /> @Html.DisplayNameFor(model => model.Pirate.DevilFruit)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
